@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-tight: var(--font-bebas-neue);
  --font-sans: var(--font-inter-tight);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-tight), Arial, Helvetica, sans-serif;
}
